body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff; /* Светло-голубой фон */
    background-image: url('./images/bg-image.jpg');
    background-size: cover; /* Изображение заполняет весь экран */
    background-position: center; /* Центрируем фон */
    background-repeat: no-repeat;
    color: #333;
    margin: 0;
    text-align: center;
    position: relative; /* Для позиционирования украшений */
    width: 100vw;
    min-height: 100vh; /* Используем min-height, чтобы контент не обрезался */
    overflow-x: hidden; /* Убираем горизонтальную прокрутку */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центрируем весь контент по вертикали */
}

.header-container {
    flex-basis: 25vh; /* Убираем место для заголовка, если он скрыт */
    visibility: hidden; /* Скрываем заголовок */
}

.header-container h1 {
    margin: 0;
    font-size: 2em;
    color: #fd7dd6;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1; /* Позволяем видео и тексту занимать доступное место */
    gap: 0.7em;
    padding-left: 2.5em;
}

video {
    height: 38vh; /* Ограничим высоту для мобильных */
    border-radius: 10px;
}

.text-container {
    font-family: 'Playfair Display', serif;
    font-size: 1.2em;
    font-weight: 400;
    max-width: 90%;
}

.footer {
    flex-basis: 21vh;
    visibility: hidden;
    font-size: 0.9em;
    color: #ff4dfb;
}

.you {
    color: #cb42a7;
}

/* Медиа-запрос для мобильных устройств (ширина до 768px) */
@media (max-width: 768px) {
    .video-container {
        padding-left: 0; /* Убираем отступы для мобильных */
    }
    video {
        max-height: 26vh; /* Уменьшаем высоту для компактности */
    }

    .header-container {
        flex-basis: 32vh;
    }

    .text-container {
        font-size: 1em; /* Уменьшаем шрифт для читаемости */
    }
}